
@{
    ViewBag.Title = "Gastos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header"><i class="fa fa-chess-board"></i> Nómina </h1>
    </div>
    <div class="col-md-12">

    </div>
</div>

