
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>La Colina Login</title>
    <link href="~/Css/FaIcons.css" rel="stylesheet" />
    <link href="~/Css/Inicio.css?1.0.1" rel="stylesheet" />
</head>
<body style="background-color: #005f19; ">
    <div style="width: 100%;">
        <div class="CajaContenedora">
            <div class="Circulo">
                <h1 class="Titulo">
                    La Colina Restaurante
                </h1>
                <br />
                <div class="CajaTabla">
                    <table style="width: 90%; margin-left: 5%;">
                        <tr>
                            <td>
                                <small>Usuario: </small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" />
                                <i class="fa fa-2x fa-user"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <small>Contraseña: </small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="password" />
                                <i class="fa fa-2x fa-lock"></i>
                            </td>
                        </tr>
                    </table>
                    <br />
                </div>
                <br />
                <br />
                <input type="button" class="BotonInicio" value="Iniciar" onclick="return window.location.href = '../Inicio/LaColinaRestaurante';" />
                <br />
            </div>
        </div>
    </div>
</body>
</html>
