
.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.bg-green {
    background-color: #0f7c41 !important;
    color: #fff !important;
}
.bg-danger {
    background-color: #a90000 !important;
    color: #fff !important;
}
.bg-warning {
    background-color: #b7a800 !important;
    color: #fff !important;
}
.small-box>.inner {
    padding: 10px;
}
.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}
.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: white;
}

.AgregProd {
	float: right;
	background-color: rgba(51, 51, 51, 0.94);
	color: white;
	padding: 10px;
	font-size: 14px;
	border-radius: 5px;
	transition: 0.4s;
	font-weight: bold;
	margin-right: 10px;
}
.AgregProd:hover {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    padding: 11px;
}
#fountainG{
	position:relative;
	width:630px;
	height:76px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(0,20,9);
	width:76px;
	height:76px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.235s;
		-o-animation-duration:1.235s;
		-ms-animation-duration:1.235s;
		-webkit-animation-duration:1.235s;
		-moz-animation-duration:1.235s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:50px;
		-o-border-radius:50px;
		-ms-border-radius:50px;
		-webkit-border-radius:50px;
		-moz-border-radius:50px;
}

#fountainG_1{
	left:0;
	animation-delay:0.496s;
		-o-animation-delay:0.496s;
		-ms-animation-delay:0.496s;
		-webkit-animation-delay:0.496s;
		-moz-animation-delay:0.496s;
}

#fountainG_2{
	left:79px;
	animation-delay:0.6125s;
		-o-animation-delay:0.6125s;
		-ms-animation-delay:0.6125s;
		-webkit-animation-delay:0.6125s;
		-moz-animation-delay:0.6125s;
}

#fountainG_3{
	left:158px;
	animation-delay:0.739s;
		-o-animation-delay:0.739s;
		-ms-animation-delay:0.739s;
		-webkit-animation-delay:0.739s;
		-moz-animation-delay:0.739s;
}

#fountainG_4{
	left:236px;
	animation-delay:0.8655s;
		-o-animation-delay:0.8655s;
		-ms-animation-delay:0.8655s;
		-webkit-animation-delay:0.8655s;
		-moz-animation-delay:0.8655s;
}

#fountainG_5{
	left:315px;
	animation-delay:0.992s;
		-o-animation-delay:0.992s;
		-ms-animation-delay:0.992s;
		-webkit-animation-delay:0.992s;
		-moz-animation-delay:0.992s;
}

#fountainG_6{
	left:394px;
	animation-delay:1.1085s;
		-o-animation-delay:1.1085s;
		-ms-animation-delay:1.1085s;
		-webkit-animation-delay:1.1085s;
		-moz-animation-delay:1.1085s;
}

#fountainG_7{
	left:473px;
	animation-delay:1.235s;
		-o-animation-delay:1.235s;
		-ms-animation-delay:1.235s;
		-webkit-animation-delay:1.235s;
		-moz-animation-delay:1.235s;
}

#fountainG_8{
	left:551px;
	animation-delay:1.3615s;
		-o-animation-delay:1.3615s;
		-ms-animation-delay:1.3615s;
		-webkit-animation-delay:1.3615s;
		-moz-animation-delay:1.3615s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(0,31,0);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(0,31,0);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(0,31,0);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(0,31,0);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(0,31,0);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

/* Altura exacta */
@media (height: 300px) {
	.jumbotron {
		height: 400px;
	}
}

/* Altura mínima */
@media (min-height: 300px) {
	.jumbotron {
		height: 500px;
	}
}

/* Altura máxima */
@media (max-height: 1200px) {
	.jumbotron {
		height: 600px;
	}
}
